In [1]:
odds=[1,3,5,7]
print('Odds are:' , odds)

Odds are: [1, 3, 5, 7]

In [2]:
print("First element in the list", odds[0])

First element in the list 1

In [3]:
print("Last element in the list", odds[-1])

Last element in the list 7

In [5]:
print("Every second element in the list",odds[0::2])

Every second element in the list [1, 5]

In [6]:
names=["Curie","Darwing","Turing"]
print("names is originally",names)
names[1]="Darwin"
print("Final values of names",names)

names is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [7]:
name="Darwin"
print("First chaaracter in the name",name[0])

First chaaracter in the name D

In [8]:
name[0]="d"

TypeError: 'str' object does not support item assignment

In [9]:
x=[
  ["pepper","courgette","onion"],
  ["cabbage","lettuce","garlic"],
  ["apple","pear","banana"]
]
print(x[0])

['pepper', 'courgette', 'onion']

In [10]:
print(x[0][1])

courgette

In [11]:
removed_element=odds.pop(0)

In [12]:
print("removed elements",removed_element)

removed elements 1

In [13]:
print(odds.reverse())

None

In [14]:
odds

[7, 5, 3]

In [15]:
string="1264854642013"
print(string[-4:])

2013

In [16]:
beatles = "In an octopus's garden in the shade"

beatles[0:-1:2]

'I notpssgre ntesa'

In [17]:
counts = [2, 4, 6, 8, 10]
repeats=counts*2

In [18]:
print(repeats)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]